@{
    ViewData["Title"] = "Register Page";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/RegisterPage.css" />
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>

    
    @if (ViewBag.ErrorMessage != null) 
    {
        <div class="alert alert-danger d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill" /></svg>
            <div>
                @ViewBag.ErrorMessage
            </div>
        </div>
    }
    <form asp-controller="Home" asp-action="Register" method="post">
         <h3>Register</h3> 
        <label for="adSoyad">Name Surname</label>
        <input class="input" type="text" placeholder="Name and Surname"
               id="adSoyad" name="adSoyad" autocomplete="off" />

        <label for="username">Username</label>
        <input class="input" type="text" placeholder="Write Username"
               id="username" name="username" autocomplete="off" />

        <label for="password">Password</label>
        <input class="input" type="password" placeholder="Write Password"
               id="password" name="password" autocomplete="off" />

        <label for="birimId">Worker Unit ID</label>
        <input class="input" type="text" placeholder="Write Unit Id"
               id="birimId" name="birimId" autocomplete="off" />

        <label for="phoneNumber">Phone Number</label>
        <input class="input" type="text" placeholder="Write Phone Number"
               id="phoneNumber" name="phoneNumber" autocomplete="off" />

        <button type="submit">Register</button>
    </form>
</body>
</html>
