@{
    ViewData["Title"] = "Login Page";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Design by foolishdeveloper.com -->
    <title>Log In</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="~/css/LoginPage.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">

</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>


    



    <form asp-controller="Home" asp-action="Login" method="post">
        <h3>Login Here</h3>
        <label for="username">Username</label>
        <input  class="input" type="text" placeholder="Write Username" 
                id="username" name="username"
                autocomplete="off" 
        >

        <label for="password">Password</label>
        <input class="input" type="password" placeholder="Password" 
                id="password" name="password"
                autocomplete="off"
        >

        <button type="submit">Log In</button>
  
        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <p>@ViewBag.ErrorMessage</p>

        }
    </form>

</body>
</html>
@* post methodu nasıl atarım cardalrın içinde aldığım bilgileri *@

@* AJAX VERİ GÖNDERİMİ SAYFA YENİLEMEDEN ARKADA PLANDA VERİ GÖNDERİP ALMAMIZA OLAN TANIYAN GÖNDERME YÖNTEMİ *@

