html, body {
    height: 100%;
    margin: 0;
    background-image: url(../img/88.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed;
}
card {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.card-header {
    display: flex;
    background-color: #343a40;
    color: white;
    font-size: 1.2rem;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    padding: 20px;
}

.list-group-item {
    font-size: 1rem;
    color: #333;
}
